{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List - Blog App</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="bg-primary text-white p-3">
        <div class="container">
            <h1>Employee List</h1>
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link text-white" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container mt-4">
        
        <div class="card mx-auto" style="width: 18rem;">
        <img class="card-img-top" src="{{ employee.photo.url }}" alt="Employee Photo">
        <div class="card-body">
            <h5 class="card-title">Employee Details</h5>
            <p class="card-text">{{ employee.first_name}} {{ employee.last_name}}</p>
            <p class="card-text">Designation: {{ employee.designation }}</p>
            <p class="card-text">Phone Number: {{ employee.phone_number }}</p>
            <p class="card-text">Email: {{ employee.email_address }}</p>
        </div>
        <a href="{% url 'home' %}" class="btn btn-primary ">Back home</a>
        </div>

        
        
    </main>
    <footer class="bg-light text-center p-3 mt-4">
        <p>&copy; 2023 Blog App. All rights reserved.</p>
    </footer>
    
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

   
</body>
</html>
